@using Experts.Web.Helpers
@model string

<div class="control-group">
    @Html.LabelFor(model => model, new { @class = "control-label" })
    <div class="controls">
        @Html.TextBoxFor(model => model, FormHelper.GetHtmlAttributes(ViewData.ModelMetadata))
    </div>
    <div class="controls">
        @Html.ValidationMessageFor(model => model)
    </div>
</div>
