@model Experts.Web.Models.Forms.EmailNotUniqueForm

<h2>@ViewBag.PageTitle</h2>

<hr />

<section>
    @using(Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            @Html.EditorForModel()

            <input type="submit" class="btn btn-primary" value="@Resources.Global.Send"/>
        </fieldset>
    }
</section>