@model Experts.Web.Models.Forms.PasswordForm

<h2>@ViewBag.PageTitle</h2>
<section class="well">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <fieldset>
            @Html.EditorForModel(MVC.Shared.Views.EditorTemplates.SimplePasswordForm)

            <input type="submit" class="btn btn-primary" value="@Resources.Global.Send"/>
        </fieldset>
    }
</section>