<aside class="well with-inners">
    <div class="inner">          
        <h3 class="purple">@Resources.Thread.SatisfactionWarrantyTitle</h3>
    </div>
    <hr/>
    <div class="inner">
        @Resources.Thread.SatisfactionWarrantyDescription
    </div>
</aside>