<div class="help-question-content">
    <strong>Polityka prywatności</strong>
    <p>Zgodnie z Ustawą o ochronie danych osobowych z dnia 29 sierpnia 1997 roku (Dz. U. 133 z dnia 29 października 1997 roku poz. 833.) Gorrion nie przekazuje, nie sprzedaje i nie użycza zgromadzonych danych osobowych Uczestników firmom zewnętrznym. Dane osobowe podane przez Użytkownika traktowane są jako informacje poufne i służą tylko i wyłącznie do celów komunikacji pomiędzy Uczestnikiem a Organizatorem. Użytkownik może wprowadzić zmiany lub usunąć swoje dane osobowe kontaktując się z nami e-mailowo na adres kontakt@asknuts.com</p>
</div>