<section class="description space-top">
    @Html.Raw(Resources.Launch.ExpertSubscriptionConfirmation)
</section>

<section class="signature">
    @Html.Raw(Resources.Launch.AsknutsSignature)
</section>

